.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #8abfeb;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #0c125f;
  }

  .description {
      text-transform: capitalize;
  }

  #weather-hourly,
  #weather-daily{
    animation: fadeInAnimation cubic-bezier(.17,.67,.83,.67) 1.3s;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
     }
}

/* new */

#current {
  background-image: url('./images/daoudi-aissa-Pe1Ol9oLc4o-unsplash.jpg');
  background-size: 100%;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(1, 2, 54, .05)
}

.weather{

}