.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #8abfeb;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #0c125f;
  }

  .description {
      text-transform: capitalize;
  }

  #weather-hourly,
  #weather-daily{
    animation: fadeInAnimation cubic-bezier(.17,.67,.83,.67) 1.3s;
  }


/* new */

#current {
  background-size: 100%;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(1, 2, 54, .05)
}


.current-filter{
 background-color: #0c125f;
}

.weather {
  height: 30vh;
  width: 90vw;
}

#weather-small-card{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: mandatory;
}

.weather-card-detail{
  height: 12vh;
  width: 22vw;
}

.active{
  animation: fadeInAnimation cubic-bezier(.17,.67,.83,.67) .6s;
}

.weather-card-detail,
nav{
  background-color: #000436;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
      
  }
  100% {
      opacity: 1;
   }
}

@media only screen and (min-width: 640px) {
  .weather {
    height: 40vh;
    width: 90vw;
  }
  .weather-card-detail{
    height: 17vh;
    width: 22vw;
  }
  #main-icon{
    width: 6rem;
  }
}

@media only screen and (min-width: 1024px){
  #current{
    height: 40vh;
    width: 35vw;
  }
  .weather-card-detail{
    height: 13vh;
    width: 8.8vw;
  }
  .weather {
    height: 40vh;
    width: 60vw;
  }
  #main-icon{
    width: 8rem;
  }
}